<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/base_style.css">
    <title>Accueil</title>
</head>
<body>
<div class="navigation-bar">
    <div class="logo">
        <span class="logo">Serie</span><span class="logo1">.Net</span>
    </div>
    <div class="menu">
        <ul>
            <li><a href="index.php">Accueil</a></li>
            <li><a href="#">Votre liste</a></li>
            <li><a href="#">Explorer</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </div>
    <!-- Barre de recherche -->
    <form action="" class="search-bar" method="post" onsubmit="return redirectToPage()" >
        <label for="search-bar"></label><input type="search" id="search-bar" name="search" placeholder=" Rechercher une série..." required>
    </form>
</div>
<section class="science-fiction">
    <div class="banner-content">
            <h2>SCIENCE FICTION</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/stargate_universe.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/battlestar_galactica.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/bionic_woman.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/caprica.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/doctor_who.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/eleventh_hour.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/heroes.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/invasion.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/jake.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/journeympan.jpg" alt="">
            </div>

            <a href="#"><button class="btn">Voir plus</button></a>

        </div>
    </div>
</section>
<section class="action">
    <div class="banner-content">
        <h2>ACTION</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/24.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/alias.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/blade.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/buffy.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/burn_notice.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/chuck.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/flashpoint.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/knight_rider.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/legend_of_the_seeker.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/paintkiller_jane.jpg" alt="">
            </div>
            <a href="#"><button class="btn">Voir plus</button></a>
        </div>
    </div>
</section>
<section class="drame">
    <div class="banner-content">
        <h2>DRAME</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/90210.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/angel.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/blood_tie.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/bones.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/breaking_bad.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/californication.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/caprica.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/charmed.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/cold_case.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/cupid.jpg" alt="">
            </div>
            <a href="#"><button class="btn">Voir plus</button></a>
        </div>
    </div>
</section>
<section class="fantastique">
    <div class="banner-content">
        <h2>FANTASTIQUE</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/day_break.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/demons.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/ghost_whisperer.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/jekyll.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/lost.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/medium.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/merlin.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/moonlight.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/reaper.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/sanctuary.jpg" alt="">
            </div>
            <a href="#"><button class="btn">Voir plus</button></a>
        </div>
    </div>
</section>
<section class="comedie">
    <div class="banner-content">
        <h2>COMÉDIE</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/better_off_ted.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/community.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/desperate.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/entourage.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/eureka.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/extras.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/flight_of_the_conchords.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/friends.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/futurama.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/greys_anatomy.jpg" alt="">
            </div>
            <a href="#"><button class="btn">Voir plus</button></a>
        </div>
    </div>
</section>
<footer>
    <br>
</footer>

</body>
<script src="../js/script.js"></script>
</html>
