<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/base_style.css">
    <title>Accueil</title>
</head>
<body>
<div class="navigation-bar">
    <div class="logo">
        <span class="logo">Serie</span><span class="logo1">.Net</span>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Votre liste</a></li>
            <li><a href="explore.html">Explorer</a></li>
            <li><a href="#">Profil</a></li>
        </ul>
    </div>
    <!-- Barre de recherche -->
    <form action="search.html" class="search-bar">
        <input type="search" name="search" placeholder=" Rechercher une série..." required>
    </form>
</div>
<section class="banner">
    <video autoplay muted loop id="banner-video">
        <source src="../../ressources/videos_annonce/4400.mp4" type="video/mp4">
    </video>
    <div class="banner-content">
        <h2>LES 4400</h2>
        <p>4 400 personnes portées disparues durant le xxe siècle,
            parfois depuis plus de 60 ans, réapparaissent en un seul et
            même lieu : Seattle (dans l'État de Washington, sur la côte
            ouest des États-Unis) suite au passage d'un mystérieux
            astéroïde.Pour chacune d'elles, le temps s'est arrêté,
            mais elles vont…</p>
        <button class="btn">Regarder</button>
    </div>
</section>
<section class="reprendre-content">
    <div class="banner-content">
        <h2>Reprendre la lecture</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/stargate_universe.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/cupid.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/xfiles.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/4400.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/breaking_bad.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/eureka.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="top-tendance-content">
    <div class="banner-content">
        <h2>Top du moment</h2>
        <div class="box-container">
            <div class="box">
                <img src="../../ressources/posts/lie_to_me.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/4400.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/primeval.jpeg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/alias.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/doctor_who.jpg" alt="">
            </div>
            <div class="box">
                <img src="../../ressources/posts/bionic_woman.jpg" alt="">
            </div>

        </div>
    </div>
</section>
<footer>
    <br>
</footer>
</body>
<script src="../js/script.js"></script>
</html>