<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profile</title>
    <link rel="stylesheet" href="../css/style_profile.css">
</head>

<body>
    <div class="logo-container">
        <h1>Serie<span>.Net</span></h1>
    </div>

    <h2>Qui est-ce ?</h2>
    <div class="team-profile">
        <div class="profile-container">
            <a href="" class="profile-card">
                <img src="../../ressources/images/blue.jpg" alt="profile picture">
                <h3>Amdjad</h3>
            </a>

            <a href="#" class="profile-card">
                <img src="../../ressources/images/red.jpg" alt="profile picture">
                <h3>Carl</h3>
            </a>

            <a href="" class="profile-card">
                <img src="../../ressources/images/green.jpg" alt="profile picture">
                <h3>Julien</h3>
            </a>
        </div>
    </div>
</body>

</html>
